.mother {
    background-color: blue;
    width: 600px;
    height: 600px;
    margin: auto;
}
.text1 {
    background-color: brown;
    width: 100%;
    height: 200px;
}
.text2 {
    background-color: cadetblue;
    width: 100%;
    height: 200px;
}
.text3 {
    background-color: lightpink ;
    width: 100%;
    height: 200px;
}
.papa {
    background-color: darkgreen;
    width: 800px;
    height: 600px;
    margin: 20px auto;
}
.row1 {
    background-color: darkorange;
    width: 100%;
    height: 200px;
    display: flex;
}
.row2 {
    background-color: violet;
    width: 100%;
    height: 200px;
}
.row3 {
    background-color: gold;
    width: 100%;
    height: 200px;
}
.rty1 {
    background-color: sienna;
    width: 33.3%;
    height: 100%;
}
.rty2 {
    background-color: mediumaquamarine;
    width: 33.3%;
    height: 100%;
}
.rty3 {
    background-color: orangered;
    width: 33.3%;
    height: 100%;
}
.mar {
    background-color: seagreen;
    width: 50%;
    height: 100px;
}
.sistr {
    background-color: rosybrown;
    width: 800px;
    height: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
    align-items: center;

}
.sistr div {
    background-color: rebeccapurple;
    width: 200px;
    height: 200px;
}
    

